// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'corpfont';
  src: url('../fonts/corpfont.eot');
  src: url('../fonts/corpfont.eot#iefix') format('embedded-opentype'),
  url('../fonts/corpfont.ttf') format('truetype'),
  url('../fonts/corpfont.woff') format('woff'),
  url('../fonts/corpfont.svg#corpfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkuratpro-light';
  src: url('../fonts/akkuratpro-light.eot');
  src: url('../fonts/akkuratpro-light.eot?#iefix20180113') format('embedded-opentype'),
  url('../fonts/akkuratpro-light.ttf') format('truetype'),
  url('../fonts/akkuratpro-light.woff') format('woff'),
  url('../fonts/akkuratpro-light.svg#corpfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkuratpro-bold';
  src: url('../fonts/akkuratpro-bold.eot');
  src: url('../fonts/akkuratpro-bold.eot?#iefix20180113') format('embedded-opentype'),
  url('../fonts/akkuratpro-bold.ttf') format('truetype'),
  url('../fonts/akkuratpro-bold.woff') format('woff'),
  url('../fonts/akkuratpro-bold.svg#corpfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkkuratPro-Regular';
  src: url('../fonts/AkkuratPro-Regular.eot');
  src: url('../fonts/AkkuratPro-Regular.eot?#iefix20180113') format('embedded-opentype'),
  url('../fonts/AkkuratPro-Regular.ttf') format('truetype'),
  url('../fonts/AkkuratPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1366px;
  }
}

body {
  font-family: "AkkuratPro-Regular", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  font-size: 18px;
}

header {
  z-index: 999;
}

header #vo1_global_nav nav #vo1_logo {
  display: inline-block;
  overflow: hidden;
  margin-right: 60px;
  margin-top: 10px;
  float: left;
}

.headerOut {
  animation: headerOut .5s forwards;
}

@keyframes headerOut {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
  }
}

.headerIn {
  animation: headerIn .5s forwards
}

@keyframes headerIn {
  0% {
    top: -100px;
    position: unset;
  }
  100% {
    top: 0;
  }
}

/* 原本的样式 */
header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-insights-open > .container {
  padding: 40px 11px;
}

header #vo1_global_nav nav {
  height: 74px;
  background: #fff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 0;
  position: relative;
  z-index: 100;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header #vo1_global_nav {
  position: relative;
  z-index: auto;
  height: auto;
}

.container {
  width: 100% !important;
  max-width: 1128px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 11px;
  padding-right: 11px;
}

a, a:hover, a:focus input, select, * {
  outline: none;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

header #vo1_global_nav nav .nav-contact {
  display: inline-block;
  float: left;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

header.affix-top #vo1_global_nav nav .nav-contact > ul {
  position: static;
}

header #vo1_global_nav nav .nav-contact > ul:first-child {
  border-left: 0;
  padding-left: 0;
}

header #vo1_global_nav nav .nav-contact > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  height: 50px;
  display: table;
  float: left;
  position: relative;
  height: 74px;
}

header .nav-contact > ul {
  -webkit-transition: -webkit-transform 0.5s, opacity 3s;
  transition: transform .5s, opacity 3s;
  opacity: 1;
  transform-origin: left center;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 13px;
}

ul, ol {
  padding-left: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header #vo1_global_nav nav .nav-contact > ul > li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}

header #vo1_global_nav nav .nav-contact > ul > li span, header #vo1_global_nav nav .nav-contact > ul > li a, header #vo1_global_nav nav .nav-contact > ul > li em {
  display: inline-block;
  vertical-align: middle;
  color: #282828;
}

.icon-nav-icon01 {
  background-position: -187px -120px;
  width: 19px;
  height: 33px;
}

a, a:hover, a:focus input, select, * {
  outline: none;
}

header #vo1_global_nav nav .nav-contact > ul:first-child li > a {
  padding-left: 19px;
}

header #vo1_global_nav nav .nav-contact > ul a.navbar-toggle {
  font-size: 18px;
}

[class^="voic_"], [class*=" voic_"] {
  font-family: 'corpfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.voic_down:before {
  content: "\e904";
}

header #vo1_global_nav nav .nav-contact > ul > li .navbar-collapse {
  position: fixed;
  overflow: hidden;
  width: 100%;
  background: #f5f5f5;
  left: 0;
  cursor: default;
  opacity: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: none;
  margin-top: 20px;
  z-index: 98;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open > .container > .row {
  display: flex;
}

.row {
  margin-left: -11px;
  margin-right: -11px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 11px;
  padding-right: 11px;
}

header #vo1_global_nav nav .nav-contact > ul > li span.lazy-placeholder {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

header #vo1_global_nav nav .nav-contact > ul > li span, header #vo1_global_nav nav .nav-contact > ul > li a, header #vo1_global_nav nav .nav-contact > ul > li em {
  display: inline-block;
  vertical-align: middle;
  color: #282828;
}

header #vo1_global_nav nav .nav-contact > ul > li span img {
  margin-right: 19px;
}

.img-radius {
  border-radius: 5px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .see-more a {
  color: #fff;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .see-more em {
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 5px;
  color: #fff;
}

[class^="voic_"], [class*=" voic_"] {
  font-family: 'corpfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open > .container > .row > [class*="col-"] {
  padding: 40px 15px;
  min-height: 226px;
}

.col-sm-3 {
  width: 23%;
}

.col-sm-7 {
  width: 58.33333333%;
}

.col-sm-2 {
  width: 16.66666667%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .see-more {
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  background: #f66f6a;
  position: absolute;
  right: -10px;
  bottom: 65px;
  border-radius: 6px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon {
  padding-top: 40px;
  padding-left: 6%;
  padding-right: 4%;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span {
  padding-left: 0;
  font-size: 14.000000000000002px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon [class*="col-sm"] {
  padding-bottom: 40px;
  text-align: center;
}

.col-sm-4 {
  width: 33.33333333%;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px 0;
  font-weight: 500;
  font-family: "akkuratpro-bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-insights-open ul a {
  font-size: 14.000000000000002px;
  color: #282828;
}

.slick-prev-icon:before {
  font-family: corpfont;
  content: "\e901";
  color: #f66f6a;
  font-size: 44px;
}

.slick-next-icon:before {
  font-family: corpfont;
  content: "\e902";
  color: #f66f6a;
  font-size: 44px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.banner .slick-prev-icon,
.banner .slick-next-icon {
  opacity: 0;
}

.banner:hover .slick-prev-icon,
.banner:hover .slick-next-icon {
  opacity: 1;
}

footer .copy {
  background: #222222;
  height: 40px;
  color: #fff;
  line-height: 40px;
  font-size: 14.000000000000002px;
  margin-top: 60px;
}

.liActive {
  opacity: 1 !important;
  display: block !important;
  animation: show1s .4s forwards;
}

@keyframes show1s {
  0% {
    top: 41px;
    opacity: 0;
  }
  100% {
    top: 53px;
    opacity: 1
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-collapse {
  display: block;
  opacity: 1;
}

header #vo1_global_nav nav .nav-contact > ul > li > .navbar-toggle > em.voic_down {
  font-size: 30px;
  vertical-align: middle;
  color: #686868;
  width: 20px;
  overflow: hidden;
  transition: transform .3s;
}

header #vo1_global_nav nav .nav-contact > ul > li > .navbar-toggle > em.voic_down:before {
  margin-left: -5px;
}

header #vo1_global_nav nav .nav-contact > ul > li:hover > .navbar-toggle > em.voic_down:before {
  content: "\e911";
}

header #vo1_global_nav nav .nav-contact > ul a:hover{
  text-decoration: none !important;
  color: #f66f6a !important;
}

.lazy-loaded > img{
  margin-right: 19px;
  border-radius: 5px;
}

.voic_left:before {
  content: "\e915";
}

.voic_right:before {
  content: "\e916";
}

.link-red {
  color: #f66f6a !important;
  line-height: 14.000000000000002px;
}

header #vo1_global_nav .navbar-collapse .bg-support {
  position: absolute;
  width: 1000px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

header #vo1_global_nav .navbar-collapse .bg-support .row {
  height: 100%;
}

header #vo1_global_nav .navbar-collapse .bg-support div {
  background: #ebebeb;
  height: 100%;
}

header #vo1_global_nav .navbar-collapse .bg-support div {
  background: #ebebeb;
  height: 100%;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 {
  padding-left: 19px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 h3 {
  font-size: 18px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 ul li {
  margin: 8px 0;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 ul li a {
  color: #282828;
  font-size: 14.000000000000002px;
  padding-left: 0;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 ul li a:hover {
  text-decoration: underline;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span {
  position: absolute;
  bottom: 40px;
  font-size: 14.000000000000002px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span:hover span {
  text-decoration: underline;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span a {
  font-size: 14px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span a:hover {
  text-decoration: underline;
  color: #282828;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .card-cl2 span span {
  position: static;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span {
  padding-left: 0;
  font-size: 14.000000000000002px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span a {
  font-size: 14px;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span a:hover {
  text-decoration: underline;
}

header #vo1_global_nav nav .nav-contact > ul > li .primary-nav-consumer-open .list-icon span a:hover span {
  text-decoration: underline;
}

footer .icons > a{
  color:white !important;
  padding: 4px;
}

header #vo1_global_nav .primary-nav-consumer-open h3 {
  font-size: 22px;
}

header #vo1_global_nav .primary-nav-consumer-open ul li {
  padding: 5px 0;
}

ul,
ol {
  padding-left: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header #vo1_global_nav .primary-nav-consumer-open ul > li > a{
  padding-left: 0px !important;
  font-size: 14.000000000000002px;
}